 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}


body{
    font-family: 'Lato', sans-serif;
}
/* ***************STRUTTURA************* */
.sfondo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(144,3,3);
    background: linear-gradient(292deg, rgba(144,3,3,1) 1%, rgba(172,10,10,1) 29%, rgba(59,10,10,1) 100%);
}

.container {
    width: 90%;
    height: 90%;
    min-width: 800px;
    display: flex;
}

.left {
    width: 500px;
}

.right {
    width: calc(100% - 350px);
    position: relative;
}

/* LEFT */
.profilo {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(237,237,237);
}

.notifiche {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    background-color: skyblue;
}

.input {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    background-color: rgb(246,246,246);
}

.contatti {
    height: calc(100% - 185px);
    background-color: rgb(246,246,246);
    overflow: scroll;
    overflow-x: hidden;
}

.amico {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid rgb(237,237,237);
    background-color: white;
}

.amico:hover {
    background-color: rgb(215,215,215);
}

.amico.active {
    background-color: rgb(229,229,229);
}

/* RIGHT */
.chat {
    height: calc(100% - 120px);
    padding: 30px;
    display: none;
    flex-direction: column;
    background-image: url(https://wallpaperaccess.com/full/31584.png);
    background-position: center;
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
}

.active{
    display: flex;
}

.invia {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237,237,237);

}

/* ************PARTICOLARI**************** */

/* LEFT */
i {
    font-size: 20px;
    color: rgb(145,145,145);
}

h4 {
    font-weight: normal;
}

/* profilo */
.immagine {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.immagine img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.icone {
    list-style: none;
    margin-right: 10px;
}

.icone li {
    display: inline-block;
    margin-left: 10px;
}

/* notifiche */
.notifiche .immagine {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.notifiche .immagine i {
    color: skyblue;
    font-size: 22px;
}

.ricevi-notifiche p {
    font-size: 15px;
}

.ricevi-notifiche a {
    font-size: 12px;
    color: rgb(120,120,120);
}

/* input */
.input-dentro {
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    padding-left: 20px;
    line-height: 20px;
}

.input-dentro i {
    font-size: 15px;
}

.input-dentro input {
    width: 350px;
    margin-left: 20px;
    border: none;
}

/*contatti */
.tizio {
    padding-left: 20px;
    width: calc(100% - 55px);
}

.nome-ora {
    display: flex;
    justify-content: space-between;
}

.nome-ora span {
    font-size: 12px;
    color: rgb(120,120,120);
}

.scritto{
    overflow: hidden;
    height: 18px;
}

.scritto p {
    font-size: 12px;
    color: rgb(120,120,120);
}

/* RIGHT */

/* profilo */
.interlocutore {
    display: flex;
    align-items: center;
}

.nome-tizio {
    padding-left: 20px;
}

.nome-tizio p {
    font-size: 12px;
    color:rgb(120,120,120);
}

/* chat/main */

.messaggio {
    max-width: 35%;
    min-width: 20%;
    font-size: 14px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    word-wrap: break-word;
}
 /* ---------Non importante, solo per esercitarmi--------- */
.triangolo {
    width: 0;
    height: 0;
    line-height: 0;
}

.t-ricevuto {
    border-bottom: 15px solid white;
    border-left:   15px solid transparent;
    border-right:  15px solid transparent;
    position: absolute;
    transform: translate();
    top: 0;
    left: -13px;
    transform: rotate(180deg);
}

.t-inviato {
    border-bottom: 15px solid rgb(220,248,198);
    border-left:   15px solid transparent;
    border-right:  15px solid transparent;
    position: absolute;
    transform: translate();
    top: 0;
    right: -13px;
    transform: rotate(180deg);
}
/* ------------------------------------------ */

.ricevuto {
    background-color: white;
    align-self: flex-start;
}

.inviato {
    background-color: rgb(220,248,198);
    align-self: flex-end;
}

.messaggio span{
    font-size: 12px;
    text-align: right;
    color:rgb(120,120,120);

}
/* invia/footer */
.invia .icon {
    width: 10%;
    display: flex;
    justify-content: center;
}

.invia .icon:hover{
    cursor: pointer;
}

.invia input {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 30px;
    padding: 0 30px;
}

.template {
    display: none;
}
